header {
	background-color: black;
	height: 40px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
h1.SM {
	color: #fdf731;
	font-size: 30px;
	font-family: 'Merriweather', serif;
	text-align: center;
	padding: 5px;
}
h1.mymh1 {
	color: black;
	font-family: 'Source Sans Pro';
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}
h1.para {
	font-family: 'Merriweather';
	font-weight: bold;
	font-size: 25px;
}
h2 {
	text-align: center;
}
section {
	border-top: #fdf731 solid 4px;
	background-color: #c6c6c6;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}
nav {
	font-size: 20px;
}
a {
	color: white;
	margin: 10px;
	text-decoration: none;
}
li.uppercase a {
	font-family: 'Oswald', sans-serif;
}
li.lowercase a {
	font-family: 'Source Sans Pro', sans-serif;
}
ul li {
	display: inline-block;
	vertical-align: middle;
}
span.gray {
	color: #888;
	text-decoration: line-through;
}
span.under {
	text-decoration: underline;
	text-decoration-color: yellow;
}
section {
	font-size: 25px;
	font-family: 'Merriweather';
	font-style: italic;
}
div.worker {
	background-image: url(../images/coworking.jpg);
	background-position: center;
	background-size: cover;
	height: 400px;
	display: flex;	
	justify-content: flex-end;
	align-items: center;
}
div.mym {
	background-color: rgba(255,255,255,85%);
	width: 30%;
	margin-right: 3%;
	padding: 3%;
	border: black solid 1px;
}
div.
p.mym {
	font-family: 'Source Sans Pro';
	font-size: 20px;
	line-height: 30px;
}
button {
	width: 100%;
	background-color: #fdf731;
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	margin-top: 10%;
	border-radius: 5px;
	padding: 2%;
}
div.paras {
	width: 80%;
	display: flex;
	margin: 0 auto;
}

div.para {
	padding-right: 100px;
	margin: 0 auto;
	width: 300px;
}
div.para.mid {
	border-left: black solid 1px;
	border-right: black solid 1px;
}